/node_modules
/public/media
/public/storage
/public/js/*
/storage/*.key
/vendor
.htaccess
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
